<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.foldy.securityprobe">
    <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <queries><package android:name="dev.poldy.lab" /></queries>
    <application android:label="Foldy security probe" android:allowBackup="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".ProbeActivity" android:exported="true" android:launchMode="singleTop" />
    </application>
</manifest>
